body {
    text-align: center;
    font-family: 'Arial';
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.upload-btn {
    border: 0;
    border-radius: 0;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    padding: 1em;
    color: white;
    background-color: rgb(92, 92, 252);
}

.custom-file-upload:hover {
    cursor: pointer;
}

#test {
    display:flex;
    height: 100%;
    width: 100%;
}

.left-tab {
    background-color: rgb(61, 61, 61);
    color: white;
    font-weight: 700;
    width: 10%;
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.left-tab > p:hover {
    cursor: pointer;
}

.main {
    width: 90%;
}

#doggo {
    position: absolute;
}

#upload {
    /* height: 1000px;
    width: 1000px; */
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    margin: 20px 0;
}

button {
    border-radius: 0;
    border: 0;
    padding: 1em;
    margin-bottom: 1em;
    background: #eeeeee;
}